.linear_grad{
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(Red, blue);
    background-image: linear-gradient(to right, red, blue);
    background-image: linear-gradient(to bottom right, red, blue, green );
    background-image: linear-gradient(210deg, red, green, yellow);
    background-image: linear-gradient(to bottom, rgba(255, 0, 0 ,0), rgba(0, 0, 255, 1));
    background-image: linear-gradient(orange, white, green);
}

.radial_grad{
    border: 1px solid #000;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    background-image: radial-gradient(circle, red, blue, orange);
    background-image: radial-gradient(yellow 5%, orange 10%, red);
}

.conical_grad
{
    border: 1px solid #000;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    background-image: conic-gradient(blue 90deg, red, yellow, green);
}

