@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway-Regular";
}

body {
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    min-height: 100vh;        /* full viewport height */
}


.wrapper{
    margin: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    /* border: 1px solid #000; */
    width: 80%;
}

.logo {
    width: 98px;
    height: 82px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 100px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.menu{
    color: #4E5DC0;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
}

button{
    background-color: #4E5DC0;
    height: 44px;
    width: 140px;
    border: 0px;
    border-radius: 5px;
    color:white;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.heading1, .heading2{
    display: inline-block;
    margin-bottom: 50px;
    /* border-bottom: 3px solid gray; */
    padding: 10px;
}

.div_container1 p, .div_container2 p{
    font-size: 150%;
    text-align: justify;
}
.container1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    /* margin: 50px; */
    /* width: 100%; */
    /* height: 500px; */
    gap: 100px;
    transform: translate(-50px);
}

.div_container1
{
    /* border: 1px solid black; */
    margin: 50px;
    height: 100%;
}

.love1{
    width: 570px;
    height: 427px;
    border-radius: 30px;
}

.container2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin: 100px;
    width: 100%;
    height: 500px;
    gap: 200px;
    transform: translate(-50px);
}

.div_container2
{
    /* border: 1px solid black; */
    margin: 50px;
    height: 100%;
}

.love2{
    width: 500px;
    height: 480px;
    border-radius: 30px;
}

.footer_container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 100px;
    /* border: 1px solid black; */
}

.footer-social img {
    width: 24px;
    margin-right: 10px;
}

h3{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
    color:#4E5DC0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3:hover{
    border-bottom: 1px solid #4E5DC0;
    cursor: pointer;
}

p{
   font-weight: 500;
}

.redirect {
    margin-bottom: 10px;
}

.redirect:hover {
    color: #4E5DC0;
    cursor: pointer;
}

.footer-social{
    align-items: center;
}