.box{
    max-height: 100px;
    border: 1px solid #000;
    background-color: red;
    overflow: scroll;
}

.box2
{
    margin: 10px;
    min-height: 100px;
    border: 1px solid #000;
}

#divi
{
    height: 100px;
    width: 200px;
    border: 1px solid #000;
    overflow: auto;
}