#wrapper{
    border: 1px solid #000;
    width: 900px;
    height: 900px;
    position: relative;
    background-image: linear-gradient(to right, orange, white, green);
}

#text1
{
    position:absolute;
    top: 0;
    left: 0;
    font-size: xx-large;
    font-weight: bolder;
}

#text2
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
    font-weight: bolder;
}

#text3
{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: xx-large;
    font-weight: bolder;
}

#text4
{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: xx-large;
    font-weight: bolder;
}

#text5
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bolder;
}